
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
body {
  background-color: #ffffff;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23499f68' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23c2c5bb' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2353a36f' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b7b69e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%235ca776' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b3a482' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2365aa7e' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23b29169' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236eae85' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23b37c56' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2377b28c' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23b4654a' points='943 900 1210 900 971 687'/%3E%3C/svg%3E"); */
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Raleway";
  color: #333333;
}
#logo_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 7px;
}

.logo {
  width: 20%;
}

h1 {
  font-family: "Quicksand", serif;
  font-size: 40px;
}

h2 {
  font-family: "Quicksand", serif;
  font-size: 30px;
}

h3 {
  font-family: "Quicksand", serif;
  font-size: 20px;
}
#bucket-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  font-weight: normal;
  font-family: "Quicksand", serif;
  box-shadow: 0px 0px 15px gray;
  border-radius: 0%;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  }
@media screen and (max-width: 750px){
  #bucket-list {
    display: grid;
    grid-template-columns: 90%;
    column-gap: 10px;
    row-gap: 10px;
    font-weight: normal;
    font-family: "Quicksand", serif;
    box-shadow: 0px 0px 15px gray;
    border-radius: 0%;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
  }
} /* media query for 750px  */
.bucket-card{
  box-shadow: 0px 0px 15px gray;
  border-radius: 5%;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}
  /* ---------------------------------------------------
                  MAIN NAVIGATION STYLES
  ----------------------------------------------------*/
  
  .main-navigation ul {
    padding-left: 0;
  }
  
  .main-navigation li, button {
    list-style: none;
    text-align: center;
    margin: 10px 0;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }
  
  .main-navigation a, button {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(67,67,67,0.17);
    color: #FFF;
  }
  
    .main-navigation a:visited {
      /* color: rgb(106,106,106); */
      color: #FFF;
    }
  
    .main-navigation a:hover {
      color: rgb(137, 176, 174);
      transition: .5s color;
      background: rgba(62, 61, 61, 0.51);
    }
  
    .main-navigation a:active {
      color: rgb(172,140,71);
    }
  
  @media screen and (min-width: 750px){
    
    .main-navigation {
      min-height: 100px;
      border-top: 1px solid rgb(36,36,36);
      border-bottom: 1px solid rgb(36,36,36);
      padding-left: 20px;
    } /* media query for 750px  */
    
    .main-navigation ul {
      max-width: 1000px;
      margin: 0 auto;
    }
    
      .main-navigation li {
        float: left;
        margin-left: 10px;
        width: 18%;
      }
      .main-navigation ul .createAccount {
        width: 25%;
      }
    
      .main-navigation a {
        background: none;
      }
    
        .main-navigation a:hover {
          background: none;
        }
  } /* media query for 750px  */
  
  @media screen and (min-width: 880px){
    
    .main-navigation ul {
      position: relative;
      right: -30px ;
    }
    
  }/* media query for 880px  */

  /* ---------------------------------------------------
                        Form Styles
  ----------------------------------------------------*/
  form {
    margin: 50px auto;
    width: 90%;
  }
  
  .form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .form-item label {
    flex-basis: 150px;
    font-size: 22px;
  }
  label{
    font-size: 22px;
    font-family: "Quicksand", serif;
  }
  
  .form-item input,
  .form-item textarea {
    flex-basis: 50%;
    border: 2px solid rgb(152, 157, 106)C;
  }
  
  .form-item input:hover,
  .form-item textarea:hover {
    border: 2px solid rgb(204, 226, 7);
  }
  
  .form-item input,
  .form-item textarea,
  .form-item button {
    border: 2px solid rgb(152, 157, 106);
    border-radius: 10px;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
    font-family: "Quicksand", serif;
    text-align: center;
  }
  
  .form-item button:hover {
    border: 2px solid  rgb(204, 226, 7);
    background-color:  rgb(204, 226, 7);
    color: #FFF;
  }
  .form-item button:hover {
    background: rgb(204, 226, 7);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(204, 226, 7),
                0 0 25px rgb(204, 226, 7),
                0 0 50px rgb(204, 226, 7),
                0 0 100px rgb(204, 226, 7);
  }
  
  .form-item button {
    width: 100px;
    background-color: black;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

  /* ---------------------------------------------------
                        Chart Styles
  ----------------------------------------------------*/
  .sidebar-left {
    float: left;
    width: 40%;
  }
  .sidebar-right{
    float: right;
    width: 40%;
  }
  .chart {
    background: 
      conic-gradient(#F15854 var(--gen0, 0%), 
        #4D4D4D 0 calc(var(--gen0, 0%) + var(--gen1, 0%)), 
        #5DA5DA 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%)),
        #DECF3F 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%) + var(--gen3, 0%)),
        #B276B2 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%) + var(--gen3, 0%) + var(--gen4, 0%)),
        #644c2f 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%) + var(--gen3, 0%) + var(--gen4, 0%) + var(--gen5, 0%)),
        #87fa3a 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%) + var(--gen3, 0%) + var(--gen4, 0%) + var(--gen5, 0%) + var(--gen6, 0%)),
        #581403 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%) + var(--gen3, 0%) + var(--gen4, 0%) + var(--gen5, 0%) + var(--gen6, 0%) + var(--gen7, 0%)),
        #0a5c18 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%) + var(--gen3, 0%) + var(--gen4, 0%) + var(--gen5, 0%) + var(--gen6, 0%) + var(--gen7, 0%) + var(--gen8, 0%)),
        #f8f404 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%) + var(--gen3, 0%) + var(--gen4, 0%) + var(--gen5, 0%) + var(--gen6, 0%) + var(--gen7, 0%) + var(--gen8, 0%) + var(--gen9, 0%)),
        #f85104 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%) + var(--gen3, 0%) + var(--gen4, 0%) + var(--gen5, 0%) + var(--gen6, 0%) + var(--gen7, 0%) + var(--gen8, 0%) + var(--gen9, 0%) + var(--gen10, 0%)),
        #FAA43A 0
      );
    border-radius: 50%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    float: left;
    padding-right: 20px;
  }
  
.key {
  text-align: left;
  width: 50%;
  float: right;
  list-style: none;
  display: table;
  border-collapse: separate;
}
  .key > li {
    display: table-row;
    padding-top: 2px;
  }
  .key > li > * {
    display: table-cell;
    border-bottom: 12px solid #fff;
  }

.percent {
  color: white;
  padding: 10px 2px;
  text-shadow: 0 0 1px black;
  text-align: center;
}
.choice {
  padding-left: 10px;
}

.color00{
  background: #FAA43A;
}
.color0 {
  background: #F15854;
}
.color1 {
  background: #4D4D4D;
}
.color2 {
  background: #5DA5DA;
}
.color3 {
  background: #DECF3F;
}
.color4 {
  background: #B276B2;
}
.color5 {
  background: #644c2f;
}
.color6 {
  background: #87fa3a;
}
.color7 {
  background: #581403;
}
.color8 {
  background: #0a5c18;
}
.color9 {
  background: #f8f404;
}
.color10 {
  background: #f85104;
}


* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: "Quicksand", serif;
  background-color: rgb(	137, 176, 174,0.5);
}
  /* ---------------------------------------------------
                        Landing Styles
  ----------------------------------------------------*/

/* Layout */
.landing {
  display: -webkit-inline-flex;
  padding: 50px;
  padding-top: 0px;
  background-color: #BEE3DB;
  border-radius: 31px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 40px;
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-text {
  width: max-content;
  padding-top: 0px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  flex-direction: column;
  text-align: center;
}
#langing-head {
  font-size: 50px;
  text-align: center;
}
.landing-gif {
  align-items: left;
  flex: -webkit-inline-flex;
  height: auto;
}

img.landing-gif {
  width: 70vw;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
@media (max-width: 700px) {
  .landing {
    margin: 3vw;
    margin-left: 15vw;
    margin-right: 15vw;

    padding: 10px;
    max-width: 100vw;
  }
  #langing-head  {
    font-size: 6vw;
  }
  .landing-gif {
    display: none;
  }

  .landing-container {
    margin: 0;
    font-size: 6vw;
  }
}
/* ---------------------------------------------------
                      Select Box Styles
----------------------------------------------------*/
select {
  display: inline-flex;
  width: 220px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 1em;
  color: rgb(58, 57, 57);
  padding: 8px;
}

/* ---------------------------------------------------
                      Check Box Styles
----------------------------------------------------*/
.Boxcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.Boxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.Boxcontainer:hover input ~ .checkmark {
  background-color: #BEE3DB;
}

/* When the checkbox is checked, add a blue background */
.Boxcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.Boxcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.Boxcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* ---------------------------------------------------
             About PAGE STYLES
----------------------------------------------------*/
@media screen and (min-width: 1050px){
  
  .about-page .info {
    float: left;
    text-align: left;
    width: 56%;
  }
  
    .about-page .info p {
      margin-left: 0;
      margin-right: 0;
      font-size: 30px;
    }
  .about-page .sidebar {
    float: right;
    width: 30%;
  }
}
.sidebar {
  float: right;
  width: 30%;
}
@media screen and (min-width: 750px) {
  
  .info {
    text-align: center;
  }
  
  .info p {
    margin-left: auto;
    margin-right: auto;
  }


} /* media query for 750px  */
/* ---------------------------------------------------
                      BackGrounds
----------------------------------------------------*/
.Bucket_Start{ 
  display:flex;
  flex-direction: column;
  background: linear-gradient(
      rgba(	137, 176, 174, 0.5), 
      rgba(	137, 176, 174, 0.5)
    ), url(./images/startup.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-position: right top; */
  border-radius: 25px;
}
.pipe-history{

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
}
.Bucket_Start{
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: 15em;
}
.Bucket_Start .text, #Bucket_Start h1 {
  font-size: 4em;
  font-weight: 700;
  text-shadow: 1px 1px 10px #3b3a3b;
}
/* ---------------------------------------------------
                      BackGrounds LogIn
----------------------------------------------------*/
.LogIn-Form{ 
  display:flex;
  flex-direction: column;
  background: linear-gradient(
      rgba(	137, 176, 174, 0.5), 
      rgba(	137, 176, 174, 0.5)
    ), url(./images/LogInPic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-position: right top; */
  border-radius: 25px;
}
.LogIn-Form{
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: 20em;
}
.LogIn-Form .text, #Bucket_Start h1 {
  font-size: 4em;
  font-weight: 700;
  text-shadow: 1px 1px 10px #3b3a3b;
}
/* ---------------------------------------------------
                      BackGrounds Register
----------------------------------------------------*/
.Register1{ 
  display:flex;
  flex-direction: column;
  background: linear-gradient(
      rgba(	137, 176, 174, 0.5), 
      rgba(	137, 176, 174, 0.5)
    ), url(./images/Register.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-position: right top; */
  border-radius: 25px;
}
.Register1{
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: 20em;
}
.Register1 .text, #Bucket_Start h1 {
  font-size: 4em;
  font-weight: 700;
  text-shadow: 1px 1px 10px #3b3a3b;
}
/* ---------------------------------------------------
                      Error Page
----------------------------------------------------*/
.error-header
{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
}

.error-header img{
  max-width: 100%;
  min-width: 40%;
  margin-top: 10px;
}
/* ---------------------------------------------------
                      Global Footer Styles
----------------------------------------------------*/
section, article, aside, footer, header, nav {
  display: block;
}
footer{
  padding: 10px 0;
  /* border-top: 1px solid rgb(36,36,36); */
}
  footer h4{
    text-transform: uppercase;
    margin: 0px;
  }
  footer p{
    margin: 0;
  }
@media screen and (min-width: 1050px){
  .contact-page footer {
    padding-top: 300px;
    float: left;
    width: 30%; 
  }
  .contact-page footer {
    float: left;
    width: 100%;
  }
}
/* ---------------------------------------------------
                      CONTACT ICON STYLES
----------------------------------------------------*/
.icon-contact img{
  max-width: 70px;
  min-width: 10px;
  margin-top: 10px;
  margin-right: 70px;
}
.icon-contact{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
/* ---------------------------------------------------
                      Mobile rehope
----------------------------------------------------*/

@media screen and (max-width: 750px){
  #bucket-list {
    display: grid;
    grid-template-columns: 90%;
    column-gap: 10px;
    row-gap: 10px;
    font-weight: normal;
    font-family: "Quicksand", serif;
    box-shadow: 0px 0px 15px gray;
    border-radius: 0%;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
  }
  .bucket-card{
    box-shadow: 0px 0px 15px gray;
    border-radius: 5%;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
  }
  .bucket-card .main-navigation {
    margin-right: 10 px;
    float: right;
  }
} /* media query for 750px  */
