

#bucket-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  font-weight: normal;
  box-shadow: 0px 0px 15px gray;
  border-radius: 10%;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  }
@media screen and (max-width: 750px){
  #bucket-list {
    display: grid;
    grid-template-columns: 90%;
    column-gap: 10px;
    row-gap: 10px;
    font-weight: normal;
    box-shadow: 0px 0px 15px gray;
    border-radius: 10%;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
  }
} /* media query for 750px  */
.bucket-card{
  box-shadow: 0px 0px 15px gray;
  border-radius: 10%;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}
  /* ---------------------------------------------------
                  MAIN NAVIGATION STYLES
  ----------------------------------------------------*/
  
  .main-navigation ul {
    padding-left: 0;
  }
  
  .main-navigation li, button {
    list-style: none;
    text-align: center;
    margin: 10px 0;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }
  
  .main-navigation a, button {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(67,67,67,0.17);
    color: #FFF;
  }
  
    .main-navigation a:visited {
      /* color: rgb(106,106,106); */
      color: #FFF;
    }
  
    .main-navigation a:hover {
      color: rgb(137, 176, 174);
      transition: .5s color;
      background: rgba(62, 61, 61, 0.51);
    }
  
    .main-navigation a:active {
      color: rgb(172,140,71);
    }
  
  @media screen and (min-width: 750px){
    
    .main-navigation {
      min-height: 100px;
      border-top: 1px solid rgb(36,36,36);
      border-bottom: 1px solid rgb(36,36,36);
    } /* media query for 750px  */
    
    .main-navigation ul {
      max-width: 1000px;
      margin: 0 auto;
    }
    
      .main-navigation li {
        float: left;
        margin-left: 10px;
        width: 18%;
      }
      .main-navigation ul .createAccount {
        width: 25%;
      }
    
      .main-navigation a {
        background: none;
      }
    
        .main-navigation a:hover {
          background: none;
        }
  } /* media query for 750px  */
  
  @media screen and (min-width: 880px){
    
    .main-navigation ul {
      position: relative;
      right: -30px ;
    }
    
  }/* media query for 880px  */

  /* ---------------------------------------------------
                        Form Styles
  ----------------------------------------------------*/
  form {
    margin: 50px auto;
    width: 90%;
  }
  
  .form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .form-item label {
    flex-basis: 150px;
    font-size: 22px;
  }
  label{
    font-size: 22px;
  }
  
  .form-item input,
  .form-item textarea {
    flex-basis: 50%;
    border: 2px solid rgb(152, 157, 106)C;
  }
  
  .form-item input:hover,
  .form-item textarea:hover {
    border: 2px solid rgb(204, 226, 7);
  }
  
  .form-item input,
  .form-item textarea,
  .form-item button {
    border: 2px solid rgb(152, 157, 106);
    border-radius: 25px;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
    text-align: center;
  }
  
  .form-item button:hover {
    border: 2px solid  rgb(204, 226, 7);
    background-color:  rgb(204, 226, 7);
    color: #FFF;
  }
  .form-item button:hover {
    background: rgb(204, 226, 7);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(204, 226, 7),
                0 0 25px rgb(204, 226, 7),
                0 0 50px rgb(204, 226, 7),
                0 0 100px rgb(204, 226, 7);
  }
  
  .form-item button {
    width: 100px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

  /* ---------------------------------------------------
                        Chart Styles
  ----------------------------------------------------*/
  .sidebar-left {
    float: left;
    width: 40%;
  }
  .sidebar-right {
    float: right;
    width: 40%;
  }
  .chart {
    background: 
      conic-gradient(#F15854 var(--gen0, 0%), 
        #4D4D4D 0 calc(var(--gen0, 0%) + var(--gen1, 0%)), 
        #5DA5DA 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%)),
        #DECF3F 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%) + var(--gen3, 0%)),
        #B276B2 0 calc(var(--gen0, 0%) + var(--gen1, 0%) + var(--gen2, 0%) + var(--gen3, 0%) + var(--gen4, 0%)),
        #FAA43A 0
      );
    border-radius: 50%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    float: left;
    padding-right: 20px;
  }
  
.key {
  text-align: left;
  width: 50%;
  float: right;
  list-style: none;
  display: table;
  border-collapse: separate;
}
  .key > li {
    display: table-row;
    padding-top: 2px;
  }
  .key > li > * {
    display: table-cell;
    border-bottom: 12px solid #fff;
  }

.percent {
  color: white;
  padding: 10px 2px;
  text-shadow: 0 0 1px black;
  text-align: center;
}
.choice {
  padding-left: 10px;
}

.color0 {
  background: #F15854;
}
.color1 {
  background: #4D4D4D;
}
.color2 {
  background: #5DA5DA;
}
.color3 {
  background: #DECF3F;
}
.color4 {
  background: #B276B2;
}
.color5 {
  background: #FAA43A;
}
.color6 {
  background: #87fa3a;
}
.color7 {
  background: #581403;
}
.color8 {
  background: #0a5c18;
}
.color9 {
  background: #f8f404;
}
.color10 {
  background: #f85104;
}


* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: sans-serif;
}